
@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Mã sinh viên: 2201122112</p>
    <p>Họ và tên: Trịnh Văn Chung</p>
    <p>Lớp: K22CNT1</p>
    <p>Email:chungtrinhj@gmail.com</p>
    <p>Điện thoại: 
        <a href="tel:0978611889">0978 611 889</a>
    </p>
</div>