
@{
    ViewData["Title"] = "Câu trúc điều khiển if";

    var total = 123123;
}

<h1>@ViewData["Title"]</h1>
<hr/>
<h3>Total $: @total</h3>
@if (total>5000)
{
    <p>Bạn là người giầu</p>
}
else
{
    <p>Bạn là người chưa giầu</p>
}
<hr/>
@{
    int score = 85;
}

@if (score >= 90)
{
    <p>Xuất sắc!</p>
}
else if (score >= 75)
{
    <p>Khá giỏi!</p>
}
else
{
    <p>Cần cố gắng hơn.</p>
}