<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - TvcDay03View - <a asp-area="" asp-controller="TvcHome" asp-action="TvcAbout">Thông tin</a>
    </div>

    <div class="col-3">
        @await Component.InvokeAsync("TvcDemo")
    </div>
</footer>