@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<h1>@ViewData["Title"]</h1>

<p>Họ và tên: Trịnh Văn Chung</p>
<p>Mã sinh viên: 22000112233</p>
<p>Lớp: K22CNT1</p>
<p>Email: chungtrinhj@gmail.com</p>
<p>Điện thoại: 0978611889</p>
